<?xml version="1.0"?>
<!--
/**
 * @category    Rom
 * @package     Rom_Monitoring
 * @copyright   Copyright (c) 2013 ROM - Agence de communication (http://www.rom.fr/)
 * @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 * @author      André Herrn <info@andre-herrn.de>
 */
-->
<config>
    <modules>
        <Rom_Monitoring>
            <version>0.1.1</version>
        </Rom_Monitoring>
    </modules>  
    <global>
        <blocks>
            <rommonitoring>
                <class>Rom_Monitoring_Block</class>
            </rommonitoring>
        </blocks>
        <models>
           <rommonitoring>
               <class>Rom_Monitoring_Model</class>
               <resourceModel>rommonitoring_mysql4</resourceModel>
            </rommonitoring>
            <rommonitoring_mysql4>
                <class>Rom_Monitoring_Model_Mysql4</class>
                <entities>
                    <log>
                        <table>rommonitoring_log</table>
                    </log>
                </entities>
            </rommonitoring_mysql4>
        </models>
        <resources>
            <rommonitoring_setup>
                <setup>
                    <module>Rom_Monitoring</module>
                </setup>
            </rommonitoring_setup>
        </resources>
        <helpers>
            <rommonitoring>
                <class>Rom_Monitoring_Helper</class>
            </rommonitoring>
        </helpers>
        <template>
            <email>
                <rommonitoring_order_check_email_template_min translate="label" module="rommonitoring">
                    <label>Rom Monitoring Order Check | Minimum</label>
                    <file>rommonitoring/order_check_min.html</file>
                    <type>text</type>
                </rommonitoring_order_check_email_template_min>
                <rommonitoring_order_check_email_template_max translate="label" module="rommonitoring">
                    <label>Rom Monitoring Order Check | Maximum</label>
                    <file>rommonitoring/order_check_max.html</file>
                    <type>text</type>
                </rommonitoring_order_check_email_template_max>
            </email>
        </template>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <Rom_Monitoring>
                    <files>
                        <default>Rom_Monitoring.csv</default>
                    </files>
                </Rom_Monitoring>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <rommonitoring>
            <order_check>
                <order_status>processing,complete,closed</order_status>
                <email_template_min>rommonitoring_order_check_email_template_min</email_template_min>
                <email_template_max>rommonitoring_order_check_email_template_max</email_template_max>
                <sender_mail_identity>sales</sender_mail_identity>
            </order_check>
        </rommonitoring>
    </default>
    <!-- No Cronjob config here => Script shell/rom_monitoring.php has to be executred by Server Cron -->
</config>