<?xml version="1.0"?>
<!--
/**
 * @category    Rom
 * @package     Rom_Monitoring
 * @copyright   Copyright (c) 2013 ROM - Agence de communication (http://www.rom.fr/)
 * @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 * @author      André Herrn <info@andre-herrn.de>
 */
-->
<config>
    <sections>
        <rommonitoring translate="label">
            <label>ROM Monitoring</label>
            <tab>general</tab>
            <frontend_type>text</frontend_type>
            <sort_order>120</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>0</show_in_website>
            <show_in_store>0</show_in_store>
            <groups>
                <info translate="label">
                    <label>Order Monitoring Informations</label>
                    <frontend_type>text</frontend_type>
                    <frontend_model>rommonitoring/adminhtml_system_config_info</frontend_model>
                    <sort_order>0</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                </info>
                <order_check translate="label">
                    <label>Order Monitoring</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <active translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </active>
                        <ranges translate="comment">
                            <label>Ranges</label>
                            <frontend_model>rommonitoring/adminhtml_system_config_form_field_ranges</frontend_model>
                            <backend_model>adminhtml/system_config_backend_serialized_array</backend_model>
                            <source_model>rommonitoring/system_config_source_countType</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </ranges>
                        <statistic_count_date_from>
                            <label>Statistic count - date from</label>
                            <comment>Format: 2013-06-23</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>11</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </statistic_count_date_from>
                        <statistic_count_date_to>
                           <label>Statistic count - date to</label>
                            <comment>Format: 2013-08-23</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>12</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </statistic_count_date_to>
                        <statistic_count_date_button>
                           <label>Statistic count - Create report</label>
                            <comment>Create a statistic about the configured time-ranges. The statistic will be based on the "date from", "date to" and the "order status". If one of this values were changed please save the configuration before you run the statistic.</comment>
                            <frontend_model>rommonitoring/adminhtml_system_config_statistic_button</frontend_model>
                            <frontend_type>button</frontend_type>
                            <sort_order>13</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </statistic_count_date_button>
                        <order_status translate="label">
                            <label>Allowed order status codes for count check</label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>Mage_Adminhtml_Model_System_Config_Source_Order_Status</source_model>
                            <sort_order>15</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </order_status>
                        <email_template_min translate="label">
                            <label>Email Template Minimum Alert</label>
                            <comment>If the minimum order count for an order was not reached, this email template is used for the email.</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_email_template</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </email_template_min>
                        <email_template_max translate="label">
                            <label>Email Template Maximum Alert</label>
                            <comment>If the maxmimum order count for an order was exceeded, this email template is used for the email.</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_email_template</source_model>
                            <sort_order>21</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </email_template_max>
                        <sender_mail_identity translate="label">
                            <label>Email Sender</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_email_identity</source_model>
                            <sort_order>22</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </sender_mail_identity>
                        <email_receiver translate="comment">
                            <label>Email Receiver</label>
                            <frontend_model>rommonitoring/adminhtml_system_config_form_field_emails</frontend_model>
                            <backend_model>adminhtml/system_config_backend_serialized_array</backend_model>
                            <sort_order>25</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </email_receiver>
                    </fields>
                </order_check>
            </groups>
        </rommonitoring>
    </sections>
</config>